.App {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px green;
  min-height: 100vh;
}

.calculator-wrapper {
  border: solid 4px black;
  border-radius: 10px;
  padding: 3%;
}

.buttons-wrapper {
  display: flex;
}
